:root {
	--primary: #ba0c2f;
	--on-primary: #ffffff;
	--primary-container: #ffdad5;
	--on-primary-container: #410001;
	--secondary: #775652;
	--on-secondary: #ffffff;
	--secondary-container: #ffdad5;
	--on-secondary-container: #2c1512;
	--tertiary: #705c2e;
	--on-tertiary: #ffffff;
	--tertiary-container: #fcdfa6;
	--on-tertiary-container: #261a00;
	--error: #ba1a1a;
	--on-error: #ffffff;
	--error-container: #ffdad6;
	--on-error-container: #410002;
	--background: #fffbff;
	--on-background: #201a19;
	--surface: #fff8f7;
	--on-surface: #201a19;
	--surface-variant: #f5ddda;
	--on-surface-variant: #534341;
	--outline: #857370;
	--outline-variant: #d8c2be;
	--shadow: #000000;
	--scrim: #000000;
	--inverse-surface: #362f2e;
	--inverse-on-surface: #fbeeec;
	--inverse-primary: #ffb4a9;
	--surface-dim: #e4d7d5;
	--surface-bright: #fff8f7;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #fef1ef;
	--surface-container: #f8ebe9;
	--surface-container-high: #f3e5e3;
	--surface-container-highest: #ede0de;
}
